$primary: #3498db;
$description: #e80e0e;
// Миксин для кнопки.
// Принимает цвет фона в качестве параметра и задаёт базовый внешний вид
@mixin button($primary) {
  padding: 10px 14px;
  background: $primary;
  color: black;
  border-radius: 8px;
}
// Вложенный элемент карточки
.product-card {
  @include button($primary);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  align-items: start;
}

/*  левая колонка первая строка */
.card__title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-top: 0;
}

/* левая колонка, вторая строка */
img {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  max-width: 100%;
}

/* Родитель описания*/
.card-description {
  display: contents;
}

/* правая колонка первая строка*/
.card-description h3 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin-top: 0;
}


